
.main{
    width:80%;
    height:1000px;
    background-color: white;
    box-shadow: 2px 2px 2px #2e2e2d70  ,-2px -2px 2px #2e2e2d70 ;
    font-family: 'Roboto', sans-serif;
    margin:100px auto;
    font-size: 14px;
    font-weight: bold;
}
.top{
    width:100%;
    height:80px;
    display:flex;
    flex-direction: row;
}
.img{
    margin:30px 10px 10px 20px;
}
.cl{
    margin:30px 10px 0px 100px;
    
}
.fdg{
    margin:30px 10px 0px 80px;
   
}
.ft{
    margin:30px 10px 0px 80px;
   
}
.ptn{
    margin:30px 10px 0px 65px;
    
}
.cbs{
    margin:30px 10px 0px 70px;
    
}
.cmd{
    margin:30px -40px 0px 120px;
    width:200px;
}
.cmd1{
    margin:30px -40px 0px 290px;
    
}
.brkfst{
    display:flex;
    flex-direction: row;
    background-color: rgb(232,245,233);
    width:100%;
    height:80px;
}
.brk{
    background-color:rgb(232,245,233) ;
    height:30px;
    width:10%;
    margin:20px;
    
}
.brk:focus{
    outline:none
}


.brk1{
    background-color:rgb(232,245,233) ;
    border:none;
    height:18px;
    width:12%;
    margin:20px 20px 20px 50px
}
.brk1:focus{
    outline:none
}
.p1{
    margin:30px 10px;
    width:100px;
    text-align: left;
    font-size: 15px;
}
.inr{
    width:70%;
    height:80px;
    display:flex;
    flex-direction: row;
}
.card1{
    height:80px;
    width:12%;
    margin:0px 10px 0px 0px;
}
option{
    background-color: white;
    color:grey
}
.img1{
    margin:auto;
    height:40px;
    width:52%;
    
}
.card2{
    height:80px;
    width:12%;
    margin:0px 10px 0px 30px;
    
}
.card3{
    height:80px;
    width:12%;
    margin:0px 10px 0px 30px;
   
}
.card4{
    height:80px;
    width:12%;
    margin:0px 10px 0px 26px;
    
}
.graph{
    display:flex;
    flex-direction: row;
}
.brkfst1{
    width:35%;
    height:140px;
    margin:20px;
    background-color:white ;
    text-align: center;
    box-shadow: -2px 2px 2px #2e2e2d70 ;
}
.brkfst1:hover{
    width:40%;
    height:180px;
    margin:20px;
    background-color:rgb(232,245,233) ;
    text-align: center;
    box-shadow: -2px 2px 2px #2e2e2d70 ;
    font-size: large;
    transition: all 0.5s ease-in;
}
.selStyles{
    margin-top:20px;
}

